{
  "openapi": "3.1.0",
  "info": {
    "title": "Real-Time Sephora API",
    "version": "1.0",
    "x-category": "eCommerce",
    "description": "# 💄 Real-Time Sephora API\n\nUnlock the full potential of **Sephora.com** data with our fast, scalable, and developer-friendly API. Built for performance, our API delivers rich product data, real-time inventory, reviews, store locations, and more - all with **sub-400ms response times** ⚡\n\nWith **11 powerful endpoints**, you can build everything from product discovery tools to advanced beauty recommendation engines - ideal for **e-commerce platforms**, **beauty apps**, **price comparison tools**, and **market research solutions** 💼💅\n\n---\n\n## 📅 Last Updated\n\n**March 23, 2026**\n\n## ⚡ Highlights\n\n* 🚀 No proxies required\n* 📊 Access to **1.5M+ data points**\n* 🔄 Real-time Sephora data\n* 🔒 Reliable & scalable infrastructure\n\n---\n\n## 🌐 Useful Links\n\n* 🌍 **Official Website:** [https://happyendpoint.com/](https://happyendpoint.com/)\n* 💄 **Sephora API:** [https://happyendpoint.com/apis/sephora](https://happyendpoint.com/apis/sephora)\n* 📘 **Documentation:** [https://happyendpoint.com/apis/sephora/docs/](https://happyendpoint.com/apis/sephora/docs/)\n* 🐦 **Twitter:** [https://x.com/happyendpointhq](https://x.com/happyendpointhq)\n* 📩 **Contact Email:** [happyendpointhq@gmail.com](mailto:happyendpointhq@gmail.com)\n\n---\n\n## 📦 Bulk Sephora US Dataset Available (8,500+ Products)\n\nIn addition to our real-time API, we offer a **ready-to-use Sephora US dataset** for large-scale data needs.\n\n### 📊 Dataset Includes:\n\n* SKU ID\n* Product ID\n* Product URL\n* Selling Price\n* Brand\n* Category\n* Additional structured attributes\n\n### 🎯 Perfect For:\n\n* 📈 Market research & price monitoring\n* 🥊 Competitive analysis\n* 🛍️ Product catalog creation\n* 🤖 AI training & data modeling\n* 📦 Large-scale e-commerce ingestion\n\n📩 **Need custom scraping or bulk data?**\nWe provide tailored scraping solutions. Reach out anytime:\n👉 **[happyendpointhq@gmail.com](mailto:happyendpointhq@gmail.com)**\n\n---\n\n## 🚀 Key Features\n\n* 📦 **Product Details** - Images, pricing, ingredients, specifications\n* 🗃️ **Category & Brand Data** - Full structured directories\n* 🧠 **Smart Search** - Autocomplete + keyword search\n* 🛒 **Real-Time Availability** - Live stock updates\n* 🏬 **Store Locator** - Geo-based store discovery\n* 🌟 **Product Reviews** - Ratings & customer insights\n\n---\n\n## 📌 API Endpoints (11 Total)\n\n### 🔍 Discovery & Search\n\n* `/auto-complete` - Product suggestions from partial queries\n* `/search-by-keyword` - Advanced keyword search with filters\n* `/search-by-category` - Fetch products by category ID\n* `/search-by-brand` - Retrieve products by brand\n\n### 🗂️ Catalog & Metadata\n\n* `/brands-list` - Full list of Sephora brands\n* `/categories-list` - Root product categories\n* `/category-data` - Subcategories and metadata\n\n### 📦 Product Intelligence\n\n* `/product-details` - Detailed product data (images, ingredients, pricing)\n* `/product-reviews` - Customer reviews & ratings\n* `/product-availability` - Store-level stock data\n\n### 📍 Location Services\n\n* `/store-list` - Nearby Sephora store locations\n\n---\n\n## ✅ Ideal Use Cases\n\n* 🛍️ E-commerce & product comparison platforms\n* 💄 Beauty & skincare mobile/web apps\n* 🧠 AI-powered recommendation systems\n* 📊 Market intelligence & trend analysis\n* 📦 Inventory & pricing monitoring tools\n\n---\n\n## 📈 Why Choose This API?\n\n* 🔄 **Real-time data directly from Sephora**\n* ⚡ **Ultra-fast responses (<400ms)**\n* 🔒 **Stable & reliable infrastructure**\n* 🧩 **Easy REST API integration**\n* 🌍 **Global store coverage with geo queries**\n\n---\n\n## 🚀 Get Started\n\nStart building today with the **Sephora API** and power your applications with real-time beauty retail data.\n\n💅 Build smarter. Ship faster. Scale effortlessly.\n\n### Authentication\n\nInclude these headers in every request:\n- `X-RapidAPI-Key`: Your RapidAPI key\n- `X-RapidAPI-Host`: real-time-sephora-api.p.rapidapi.com\n---\n\n## 🔎 SEO Keywords\n\nSephora API, beauty API, cosmetics API, skincare API, makeup API, Sephora product data API, real-time product API, e-commerce API, product search API, retail data API, price comparison API, beauty tech API, product reviews API, inventory API, store locator API, brand data API, cosmetics data scraping, Sephora scraper, product dataset API, beauty product dataset, API for makeup products, RapidAPI Sephora API, shopping API, product catalog API, AI training dataset cosmetics, market research beauty data",
    "x-website": "https://happyendpoint.com",
    "x-twitter": "https://x.com/happyendpointhq",
    "x-linkedin": "https://www.linkedin.com/in/happyendpoint/",
    "x-github": "https://github.com/happyendpointhq",
    "x-public": true,
    "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/929ea64a-578a-4210-ada0-f1ceb65244d4.jpg",
    "x-version-lifecycle": "active",
    "termsOfService": "The best unofficial Sephora API",
    "contact": {
      "name": "Happy Endpoint",
      "email": "happyendpointhq@gmail.com",
      "url": "https://happyendpoint.com/"
    }
  },
  "servers": [
    {
      "url": "https://real-time-sephora-api.p.rapidapi.com",
      "description": "Base URL"
    }
  ],
  "security": [{ "RapidApiKey": [] }],
  "components": {
    "securitySchemes": {
      "RapidApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key"
      }
    },
    "parameters": {
      "RapidApiHostHeader": {
        "name": "X-RapidAPI-Host",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "real-time-sephora-api.p.rapidapi.com"
        }
      }
    },
    "schemas": {
      "SephoraAutocompleteSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Indicates if the request was successful",
                "example": true
              },
              "data": {
                "type": "object",
                "properties": {
                  "typeAheadTerms": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "term": {
                          "type": "string",
                          "description": "Suggested search term",
                          "example": "eyeshadow palette sale"
                        },
                        "brandName": {
                          "type": "string",
                          "description": "Brand name of the suggested product",
                          "example": "MAKEUP BY MARIO"
                        },
                        "productId": {
                          "type": "string",
                          "description": "Unique identifier for the product",
                          "example": "P98364786"
                        },
                        "productName": {
                          "type": "string",
                          "description": "Name of the suggested product",
                          "example": "Master Mattes® Eyeshadow Palette: The Original"
                        },
                        "defaultSku": {
                          "type": "object",
                          "properties": {
                            "skuId": {
                              "type": "string",
                              "description": "SKU identifier of the product",
                              "example": "2389518"
                            },
                            "skuImages": {
                              "type": "object",
                              "properties": {
                                "image50": {
                                  "type": "string",
                                  "description": "Thumbnail image URL",
                                  "example": "/productimages/sku/2389518-main-thumb-50.jpg"
                                }
                              },
                              "required": ["image50"]
                            }
                          },
                          "required": ["skuId", "skuImages"]
                        }
                      }
                    },
                    "description": "List of type-ahead suggestions, including search terms and products",
                    "example": [
                      {
                        "term": "eyeshadow"
                      },
                      {
                        "term": "eyeshadow base"
                      },
                      {
                        "brandName": "MAKEUP BY MARIO",
                        "productName": "Master Mattes® Eyeshadow Palette: The Original",
                        "productId": "P98364786"
                      }
                    ]
                  },
                  "trendingCategories": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "Trending category name",
                          "example": "Eyeshadow"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL to the category page",
                          "example": "/shop/eyeshadow"
                        }
                      },
                      "required": ["value", "url"]
                    },
                    "description": "List of trending categories",
                    "example": [
                      {
                        "value": "Eyeshadow",
                        "url": "/shop/eyeshadow"
                      }
                    ]
                  }
                },
                "required": ["typeAheadTerms", "trendingCategories"]
              }
            },
            "required": ["success", "data"]
          }
        },
        "required": ["success", "data"]
      },
      "CommonBadRequestWithValidationErrorResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Invalid payload provided. Please ensure: 1) 'Content-Type: application/json' is included in your request headers 2) Request body contains valid JSON data."
          },
          "error": {
            "type": "object",
            "properties": {},
            "example": {
              "issues": [
                {
                  "code": "too_small",
                  "minimum": 1,
                  "type": "array",
                  "inclusive": true,
                  "exact": false,
                  "message": "Array must contain at least 1 element(s)",
                  "path": ["urls"]
                }
              ],
              "name": "ZodError"
            }
          }
        },
        "required": ["success", "message"]
      },
      "CommonErrorResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Internal server error"
          }
        },
        "required": ["success", "message"]
      },
      "SephoraStoreListSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Indicates if the request was successful",
                "example": true
              },
              "data": {
                "type": "object",
                "properties": {
                  "stores": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "object",
                          "properties": {
                            "address1": {
                              "type": "string",
                              "description": "Primary address line",
                              "example": "355 Stanford Shopping Center"
                            },
                            "address2": {
                              "type": "string",
                              "description": "Secondary address line",
                              "example": ""
                            },
                            "city": {
                              "type": "string",
                              "description": "City name",
                              "example": "Palo Alto"
                            },
                            "country": {
                              "type": "string",
                              "description": "Country code",
                              "example": "US"
                            },
                            "crossStreet": {
                              "type": "string",
                              "description": "Nearby cross street",
                              "example": "El Camino Real & Sand Hill Road"
                            },
                            "fax": {
                              "type": "string",
                              "description": "Fax number",
                              "example": ""
                            },
                            "mallName": {
                              "type": "string",
                              "description": "Mall name",
                              "example": ""
                            },
                            "phone": {
                              "type": "string",
                              "description": "Store phone number",
                              "example": "(650) 327-5180"
                            },
                            "postalCode": {
                              "type": "string",
                              "description": "Postal code",
                              "example": "94304"
                            },
                            "state": {
                              "type": "string",
                              "description": "State code",
                              "example": "CA"
                            }
                          },
                          "required": [
                            "address1",
                            "city",
                            "country",
                            "phone",
                            "postalCode",
                            "state"
                          ]
                        },
                        "curbsideHours": {
                          "type": "object",
                          "properties": {
                            "closedDays": {
                              "type": "string",
                              "description": "Store closed days notice",
                              "example": "For the health and safety of our clients and associates, store hours may vary."
                            },
                            "fridayHours": {
                              "type": "string",
                              "description": "Friday operating hours",
                              "example": "11:00AM-05:00PM"
                            },
                            "mondayHours": {
                              "type": "string",
                              "description": "Monday operating hours",
                              "example": "11:00AM-05:00PM"
                            },
                            "saturdayHours": {
                              "type": "string",
                              "description": "Saturday operating hours",
                              "example": "11:00AM-05:00PM"
                            },
                            "sundayHours": {
                              "type": "string",
                              "description": "Sunday operating hours",
                              "example": "11:00AM-05:00PM"
                            },
                            "textColor": {
                              "type": "string",
                              "description": "Text color for display",
                              "example": "Black"
                            },
                            "thursdayHours": {
                              "type": "string",
                              "description": "Thursday operating hours",
                              "example": "11:00AM-05:00PM"
                            },
                            "timeZone": {
                              "type": "string",
                              "description": "Time zone",
                              "example": "PST8PDT"
                            },
                            "tuesdayHours": {
                              "type": "string",
                              "description": "Tuesday operating hours",
                              "example": "11:00AM-05:00PM"
                            },
                            "wednesdayHours": {
                              "type": "string",
                              "description": "Wednesday operating hours",
                              "example": "11:00AM-05:00PM"
                            }
                          },
                          "required": [
                            "closedDays",
                            "fridayHours",
                            "mondayHours",
                            "saturdayHours",
                            "sundayHours",
                            "textColor",
                            "thursdayHours",
                            "timeZone",
                            "tuesdayHours",
                            "wednesdayHours"
                          ]
                        },
                        "displayName": {
                          "type": "string",
                          "description": "Store display name",
                          "example": "Stanford"
                        },
                        "distance": {
                          "type": "number",
                          "description": "Distance from search location",
                          "example": 2
                        },
                        "email": {
                          "type": "string",
                          "description": "Store email address",
                          "example": "Sephora.Stanford@sephora.com"
                        },
                        "isBopisable": {
                          "type": "boolean",
                          "description": "Indicates if BOPIS is available",
                          "example": true
                        },
                        "isConciergeCurbsideEnabled": {
                          "type": "boolean",
                          "description": "Indicates if concierge curbside is enabled",
                          "example": false
                        },
                        "isCurbsideEnabled": {
                          "type": "boolean",
                          "description": "Indicates if curbside pickup is available",
                          "example": true
                        },
                        "isNoShowFeeApplicable": {
                          "type": "boolean",
                          "description": "Indicates if no-show fee applies",
                          "example": true
                        },
                        "isOnlineReservationEnabled": {
                          "type": "boolean",
                          "description": "Indicates if online reservation is enabled",
                          "example": true
                        },
                        "isRopisable": {
                          "type": "boolean",
                          "description": "Indicates if ROPIS is available",
                          "example": false
                        },
                        "isVirtual": {
                          "type": "boolean",
                          "description": "Indicates if the store is virtual",
                          "example": false
                        },
                        "latitude": {
                          "type": "number",
                          "description": "Latitude coordinate",
                          "example": 37.442
                        },
                        "longitude": {
                          "type": "number",
                          "description": "Longitude coordinate",
                          "example": -122.172
                        },
                        "reservationSystem": {
                          "type": "string",
                          "description": "Reservation system name",
                          "example": "TimeTrade"
                        },
                        "reservationUrl": {
                          "type": "string",
                          "description": "URL for making reservations",
                          "example": "https://timetrade.com/app/sephora/workflows/SEPH001/schedule"
                        },
                        "storeId": {
                          "type": "string",
                          "description": "Unique store identifier",
                          "example": "0048"
                        },
                        "storeType": {
                          "type": "string",
                          "description": "Store type",
                          "example": "SEPHORA"
                        }
                      },
                      "required": [
                        "address",
                        "displayName",
                        "distance",
                        "isBopisable",
                        "isConciergeCurbsideEnabled",
                        "isCurbsideEnabled",
                        "isNoShowFeeApplicable",
                        "isOnlineReservationEnabled",
                        "isRopisable",
                        "isVirtual",
                        "latitude",
                        "longitude",
                        "storeId",
                        "storeType"
                      ]
                    }
                  }
                },
                "required": ["stores"]
              }
            },
            "required": ["success", "data"]
          }
        },
        "required": ["success", "data"]
      },
      "SephoraBrandListSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Indicates if the request was successful",
                "example": true
              },
              "data": {
                "type": "object",
                "properties": {
                  "brands": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "brandId": {
                          "type": "string",
                          "description": "Unique identifier for the brand",
                          "example": "6801"
                        },
                        "shortName": {
                          "type": "string",
                          "description": "Short name of the brand",
                          "example": "AAVRANI"
                        },
                        "targetUrl": {
                          "type": "string",
                          "description": "Target URL for the brand page",
                          "example": "/brand/aavrani"
                        }
                      },
                      "required": ["brandId", "shortName", "targetUrl"]
                    },
                    "description": "List of brands",
                    "example": [
                      {
                        "brandId": "6801",
                        "shortName": "AAVRANI",
                        "targetUrl": "/brand/aavrani"
                      },
                      {
                        "brandId": "6485",
                        "shortName": "ABBOTT",
                        "targetUrl": "/brand/abbott"
                      }
                    ]
                  }
                },
                "required": ["brands"]
              }
            },
            "required": ["success", "data"]
          }
        },
        "required": ["success", "data"]
      },
      "SephoraCategoryListSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Indicates if the request was successful",
                "example": true
              },
              "data": {
                "type": "object",
                "properties": {
                  "rootCategories": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "categoryId": {
                          "type": "string",
                          "description": "Unique identifier for the category",
                          "example": "cat140006"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "Display name of the category",
                          "example": "Makeup"
                        },
                        "hasChildCategories": {
                          "type": "boolean",
                          "description": "Indicates if the category has subcategories",
                          "example": true
                        },
                        "hasDropdownMenu": {
                          "type": "boolean",
                          "description": "Indicates if the category has a dropdown menu",
                          "example": false
                        },
                        "selectedThumbImage": {
                          "type": "string",
                          "description": "URL for the selected thumbnail image",
                          "example": "/contentimages/category/cat140006-thumb-selected.png"
                        },
                        "showInAppJaBsDropdown": {
                          "type": "boolean",
                          "description": "Indicates if the category appears in the app dropdown",
                          "example": true
                        },
                        "targetUrl": {
                          "type": "string",
                          "description": "Target URL for the category",
                          "example": "/shop/makeup-cosmetics"
                        },
                        "thumbImage": {
                          "type": "string",
                          "description": "URL for the category thumbnail image",
                          "example": "/contentimages/category/cat140006-thumb.jpg"
                        },
                        "url": {
                          "type": "string",
                          "description": "API URL for the category",
                          "example": "http://azre1-prod-es.sephora.com/v1/catalog/categories/cat140006"
                        }
                      },
                      "required": [
                        "categoryId",
                        "displayName",
                        "hasChildCategories",
                        "hasDropdownMenu",
                        "showInAppJaBsDropdown",
                        "targetUrl",
                        "url"
                      ]
                    },
                    "description": "List of root categories",
                    "example": [
                      {
                        "categoryId": "cat140006",
                        "displayName": "Makeup",
                        "hasChildCategories": true,
                        "hasDropdownMenu": false,
                        "selectedThumbImage": "/contentimages/category/cat140006-thumb-selected.png",
                        "showInAppJaBsDropdown": true,
                        "targetUrl": "/shop/makeup-cosmetics",
                        "thumbImage": "/contentimages/category/cat140006-thumb.jpg",
                        "url": "http://azre1-prod-es.sephora.com/v1/catalog/categories/cat140006"
                      }
                    ]
                  }
                },
                "required": ["rootCategories"]
              }
            },
            "required": ["success", "data"]
          }
        },
        "required": ["success", "data"]
      },
      "SephoraCategoryByIdSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Indicates if the request was successful",
                "example": true
              },
              "data": {
                "type": "object",
                "properties": {
                  "categoryId": {
                    "type": "string",
                    "description": "Unique identifier for the category",
                    "example": "cat160006"
                  },
                  "childCategories": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "categoryId": {
                          "type": "string",
                          "description": "Unique identifier for the child category",
                          "example": "cat1230039"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "Display name of the child category",
                          "example": "Women"
                        },
                        "hasChildCategories": {
                          "type": "boolean",
                          "description": "Indicates if the child category has subcategories",
                          "example": true
                        },
                        "hasDropdownMenu": {
                          "type": "boolean",
                          "description": "Indicates if the child category has a dropdown menu",
                          "example": false
                        },
                        "megaNavColumn": {
                          "type": "number",
                          "description": "Column position in the mega navigation menu",
                          "example": 0
                        },
                        "targetUrl": {
                          "type": "string",
                          "description": "Target URL for the child category",
                          "example": "/shop/fragrances-for-women"
                        },
                        "url": {
                          "type": "string",
                          "description": "API URL for the child category",
                          "example": "http://azre1-prod-es.sephora.com/v1/catalog/categories/cat1230039"
                        }
                      },
                      "required": [
                        "categoryId",
                        "displayName",
                        "hasChildCategories",
                        "hasDropdownMenu",
                        "megaNavColumn",
                        "targetUrl",
                        "url"
                      ]
                    },
                    "description": "List of child categories",
                    "example": [
                      {
                        "categoryId": "cat1230039",
                        "displayName": "Women",
                        "hasChildCategories": true,
                        "hasDropdownMenu": false,
                        "megaNavColumn": 0,
                        "targetUrl": "/shop/fragrances-for-women",
                        "url": "http://azre1-prod-es.sephora.com/v1/catalog/categories/cat1230039"
                      }
                    ]
                  }
                },
                "required": ["categoryId", "childCategories"]
              }
            },
            "required": ["success", "data"]
          }
        },
        "required": ["success", "data"]
      },
      "SephoraSearchByKeywordSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "nullable": true
          }
        },
        "required": ["success"]
      },
      "SephoraSearchByCategorySuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "nullable": true
          }
        },
        "required": ["success"]
      },
      "SephoraSearchByBrandSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "nullable": true
          }
        },
        "required": ["success"]
      },
      "ParentCategory": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string",
            "example": "cat60109"
          },
          "displayName": {
            "type": "string",
            "example": "Lip Balms & Treatments"
          },
          "targetUrl": {
            "type": "string",
            "example": "/shop/lip-balm-lip-care"
          }
        },
        "required": ["categoryId", "displayName", "targetUrl"],
        "description": "Represents the product's immediate parent category."
      },
      "MergedProductDetailsData": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "example": "P455936"
          },
          "ancillarySkus": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "skuId": {
                  "type": "string",
                  "example": "2495505"
                },
                "listPrice": {
                  "type": "string",
                  "description": "The formatted price of the item.",
                  "example": "$24.00"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "The relative URL to the product page for this specific SKU.",
                  "example": "/product/summer-fridays-lip-butter-balm-P455936?skuId=2495505"
                },
                "isOutOfStock": {
                  "type": "boolean",
                  "description": "Indicates if the SKU is out of stock. From new API response.",
                  "example": false
                },
                "size": {
                  "type": "string",
                  "description": "The size of the product for this SKU.",
                  "example": ".5 oz/ 15 g"
                },
                "variationType": {
                  "type": "string",
                  "description": "The type of variation (e.g., Color, Size).",
                  "example": "Color"
                },
                "variationValue": {
                  "type": "string",
                  "description": "The value of the variation.",
                  "example": "Vanilla - sheer clear"
                },
                "skuImages": {
                  "type": "object",
                  "properties": {
                    "image250": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for a 250px wide version of the image.",
                      "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg?imwidth=250"
                    },
                    "altText": {
                      "type": "string",
                      "description": "Alternative text for the image.",
                      "example": "Summer Fridays Lip Butter Balm for Hydration & Shine"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for the full-sized image.",
                      "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg"
                    }
                  },
                  "required": ["image250", "altText", "imageUrl"],
                  "description": "Main image for the SKU."
                },
                "alternateImages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "image250": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL for a 250px wide version of the image.",
                        "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg?imwidth=250"
                      },
                      "altText": {
                        "type": "string",
                        "description": "Alternative text for the image.",
                        "example": "Summer Fridays Lip Butter Balm for Hydration & Shine"
                      },
                      "imageUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL for the full-sized image.",
                        "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg"
                      }
                    },
                    "required": ["image250", "altText", "imageUrl"]
                  },
                  "description": "A list of additional images for the SKU."
                },
                "isReplenishmentEligible": {
                  "type": "boolean",
                  "description": "Indicates if auto-replenishment is available."
                },
                "ingredientDesc": {
                  "type": "string",
                  "description": "HTML string of the ingredient description for this SKU."
                },
                "highlights": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "appsImageUrl": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": ["name", "appsImageUrl"]
                  },
                  "description": "A list of product highlights like 'Vegan' or 'Cruelty-Free'."
                },
                "actionFlags": {
                  "nullable": true,
                  "description": "Flags indicating available user actions (e.g., addToBasket)."
                }
              },
              "required": [
                "skuId",
                "listPrice",
                "targetUrl",
                "skuImages",
                "alternateImages"
              ]
            },
            "description": "A list of related or complementary SKUs, such as samples or 'try it with' items."
          },
          "currentSku": {
            "type": "object",
            "properties": {
              "skuId": {
                "type": "string",
                "example": "2495505"
              },
              "listPrice": {
                "type": "string",
                "description": "The formatted price of the item.",
                "example": "$24.00"
              },
              "targetUrl": {
                "type": "string",
                "description": "The relative URL to the product page for this specific SKU.",
                "example": "/product/summer-fridays-lip-butter-balm-P455936?skuId=2495505"
              },
              "isOutOfStock": {
                "type": "boolean",
                "description": "Indicates if the SKU is out of stock. From new API response.",
                "example": false
              },
              "size": {
                "type": "string",
                "description": "The size of the product for this SKU.",
                "example": ".5 oz/ 15 g"
              },
              "variationType": {
                "type": "string",
                "description": "The type of variation (e.g., Color, Size).",
                "example": "Color"
              },
              "variationValue": {
                "type": "string",
                "description": "The value of the variation.",
                "example": "Vanilla - sheer clear"
              },
              "skuImages": {
                "type": "object",
                "properties": {
                  "image250": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL for a 250px wide version of the image.",
                    "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg?imwidth=250"
                  },
                  "altText": {
                    "type": "string",
                    "description": "Alternative text for the image.",
                    "example": "Summer Fridays Lip Butter Balm for Hydration & Shine"
                  },
                  "imageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL for the full-sized image.",
                    "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg"
                  }
                },
                "required": ["image250", "altText", "imageUrl"],
                "description": "Main image for the SKU."
              },
              "alternateImages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "image250": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for a 250px wide version of the image.",
                      "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg?imwidth=250"
                    },
                    "altText": {
                      "type": "string",
                      "description": "Alternative text for the image.",
                      "example": "Summer Fridays Lip Butter Balm for Hydration & Shine"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for the full-sized image.",
                      "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg"
                    }
                  },
                  "required": ["image250", "altText", "imageUrl"]
                },
                "description": "A list of additional images for the SKU."
              },
              "isReplenishmentEligible": {
                "type": "boolean",
                "description": "Indicates if auto-replenishment is available."
              },
              "ingredientDesc": {
                "type": "string",
                "description": "HTML string of the ingredient description for this SKU."
              },
              "highlights": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "appsImageUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": ["name", "appsImageUrl"]
                },
                "description": "A list of product highlights like 'Vegan' or 'Cruelty-Free'."
              },
              "actionFlags": {
                "nullable": true,
                "description": "Flags indicating available user actions (e.g., addToBasket)."
              }
            },
            "required": [
              "skuId",
              "listPrice",
              "targetUrl",
              "skuImages",
              "alternateImages"
            ],
            "description": "The currently selected or default SKU for the product."
          },
          "regularChildSkus": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "skuId": {
                  "type": "string",
                  "example": "2495505"
                },
                "listPrice": {
                  "type": "string",
                  "description": "The formatted price of the item.",
                  "example": "$24.00"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "The relative URL to the product page for this specific SKU.",
                  "example": "/product/summer-fridays-lip-butter-balm-P455936?skuId=2495505"
                },
                "isOutOfStock": {
                  "type": "boolean",
                  "description": "Indicates if the SKU is out of stock. From new API response.",
                  "example": false
                },
                "size": {
                  "type": "string",
                  "description": "The size of the product for this SKU.",
                  "example": ".5 oz/ 15 g"
                },
                "variationType": {
                  "type": "string",
                  "description": "The type of variation (e.g., Color, Size).",
                  "example": "Color"
                },
                "variationValue": {
                  "type": "string",
                  "description": "The value of the variation.",
                  "example": "Vanilla - sheer clear"
                },
                "skuImages": {
                  "type": "object",
                  "properties": {
                    "image250": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for a 250px wide version of the image.",
                      "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg?imwidth=250"
                    },
                    "altText": {
                      "type": "string",
                      "description": "Alternative text for the image.",
                      "example": "Summer Fridays Lip Butter Balm for Hydration & Shine"
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for the full-sized image.",
                      "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg"
                    }
                  },
                  "required": ["image250", "altText", "imageUrl"],
                  "description": "Main image for the SKU."
                },
                "alternateImages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "image250": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL for a 250px wide version of the image.",
                        "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg?imwidth=250"
                      },
                      "altText": {
                        "type": "string",
                        "description": "Alternative text for the image.",
                        "example": "Summer Fridays Lip Butter Balm for Hydration & Shine"
                      },
                      "imageUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL for the full-sized image.",
                        "example": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg"
                      }
                    },
                    "required": ["image250", "altText", "imageUrl"]
                  },
                  "description": "A list of additional images for the SKU."
                },
                "isReplenishmentEligible": {
                  "type": "boolean",
                  "description": "Indicates if auto-replenishment is available."
                },
                "ingredientDesc": {
                  "type": "string",
                  "description": "HTML string of the ingredient description for this SKU."
                },
                "highlights": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "appsImageUrl": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": ["name", "appsImageUrl"]
                  },
                  "description": "A list of product highlights like 'Vegan' or 'Cruelty-Free'."
                },
                "actionFlags": {
                  "nullable": true,
                  "description": "Flags indicating available user actions (e.g., addToBasket)."
                }
              },
              "required": [
                "skuId",
                "listPrice",
                "targetUrl",
                "skuImages",
                "alternateImages"
              ]
            },
            "description": "A list of all other available SKUs (variations) for the product."
          },
          "remainToFreeShipping": {
            "type": "string",
            "description": "Formatted string indicating the amount remaining for free shipping.",
            "example": "$50.00"
          },
          "heroImageAltText": {
            "type": "string",
            "description": "Alternative text for the main product hero image.",
            "example": "Summer Fridays Lip Butter Balm for Hydration & Shine"
          },
          "productDetails": {
            "type": "object",
            "properties": {
              "productId": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              },
              "brand": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "targetUrl": {
                    "type": "string"
                  }
                },
                "required": ["brandId", "displayName", "targetUrl"]
              },
              "longDescription": {
                "type": "string",
                "description": "Full HTML description of the product."
              },
              "shortDescription": {
                "type": "string",
                "description": "A shorter HTML description of the product."
              },
              "suggestedUsage": {
                "type": "string",
                "description": "HTML content for suggested usage."
              },
              "lovesCount": {
                "type": "number"
              },
              "rating": {
                "type": "number"
              },
              "reviews": {
                "type": "number",
                "description": "Total number of reviews."
              }
            },
            "required": [
              "productId",
              "displayName",
              "brand",
              "longDescription",
              "shortDescription",
              "suggestedUsage",
              "lovesCount",
              "rating",
              "reviews"
            ],
            "description": "Core details about the product itself, separate from SKUs."
          },
          "parentCategory": {
            "$ref": "#/components/schemas/ParentCategory"
          },
          "productVideos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "videoUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "videoTitle": {
                  "type": "string"
                },
                "startImagePath": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": ["videoUrl", "videoTitle", "startImagePath"]
            },
            "description": "A list of promotional videos for the product."
          },
          "fullSiteProductUrl": {
            "type": "string",
            "format": "uri",
            "description": "The full URL to the product page on the website.",
            "example": "https://www.sephora.com/product/summer-fridays-lip-butter-balm-P455936"
          }
        },
        "required": [
          "productId",
          "currentSku",
          "regularChildSkus",
          "heroImageAltText"
        ]
      },
      "SephoraProductDetailsSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful.",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/MergedProductDetailsData"
          }
        },
        "required": ["success", "data"],
        "description": "A merged and enhanced product details response.",
        "example": {
          "success": true,
          "data": {
            "productId": "P455936",
            "heroImageAltText": "Summer Fridays Lip Butter Balm for Hydration & Shine",
            "productDetails": {
              "productId": "P455936",
              "displayName": "Lip Butter Balm Treatment for Hydration + Nourishing Shine",
              "brand": {
                "brandId": "6247",
                "displayName": "Summer Fridays",
                "description": "When you work this hard but still want soft, healthy-looking skin...",
                "targetUrl": "/brand/summer-fridays"
              },
              "longDescription": "\u003Cp\u003E\u003Cstrong\u003EWhat it is: \u003C/strong\u003EA nourishing vegan lip treatment...\u003C/p\u003E",
              "shortDescription": "\u003Cp\u003E\u003Cstrong\u003EWhat it is: \u003C/strong\u003EA nourishing vegan lip treatment...\u003C/p\u003E",
              "suggestedUsage": "\u003Cb\u003ESuggested Usage:\u003Cbr\u003E\u003C/b\u003E-Use when your lips need extra hydration...",
              "lovesCount": 3859753,
              "rating": 4.3096,
              "reviews": 15909
            },
            "currentSku": {
              "skuId": "2495505",
              "listPrice": "$24.00",
              "variationValue": "Vanilla - sheer clear",
              "targetUrl": "/product/summer-fridays-lip-butter-balm-P455936?skuId=2495505",
              "isOutOfStock": false,
              "skuImages": {
                "image250": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg?imwidth=250",
                "altText": "Summer Fridays Lip Butter Balm... in Vanilla - sheer clear",
                "imageUrl": "https://www.sephora.com/productimages/sku/s2495505-main-zoom.jpg"
              },
              "alternateImages": [
                {
                  "image250": "https://www.sephora.com/productimages/sku/s2495505-av-12-zoom.jpg?imwidth=250",
                  "altText": "Summer Fridays Lip Butter Balm... in Vanilla - sheer clear Image 2",
                  "imageUrl": "https://www.sephora.com/productimages/sku/s2495505-av-12-zoom.jpg"
                }
              ]
            },
            "regularChildSkus": [
              {
                "skuId": "2590560",
                "listPrice": "$24.00",
                "variationValue": "Poppy - sheer citrus coral",
                "targetUrl": "/product/summer-fridays-lip-butter-balm-P455936?skuId=2590560",
                "skuImages": {
                  "image250": "https://www.sephora.com/productimages/sku/s2590560-main-zoom.jpg?imwidth=250",
                  "altText": "Summer Fridays Lip Butter Balm... in Poppy - sheer citrus coral",
                  "imageUrl": "https://www.sephora.com/productimages/sku/s2590560-main-zoom.jpg"
                },
                "alternateImages": []
              }
            ]
          }
        }
      },
      "SephoraProductReviewsSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "nullable": true,
            "example": {
              "success": true,
              "data": {
                "Limit": 6,
                "Offset": 0,
                "TotalResults": 3359,
                "Locale": "en_US",
                "Results": [
                  {
                    "Id": "273131753",
                    "CID": "168518f5-9af2-5a25-8679-ef0b2dae20bb",
                    "SourceClient": "sephora",
                    "Badges": {
                      "verifiedPurchaser": {
                        "ContentType": "REVIEW",
                        "Id": "verifiedPurchaser",
                        "BadgeType": "Custom"
                      }
                    },
                    "BadgesOrder": ["verifiedPurchaser"],
                    "LastModeratedTime": "2024-03-04T21:16:06.000+00:00",
                    "LastModificationTime": "2025-01-28T08:03:14.000+00:00",
                    "ProductId": "2742500",
                    "OriginalProductName": "Major Headlines Double-Take Crème & Powder Blush Duo Not Too Much",
                    "ContextDataValuesOrder": [
                      "age",
                      "IncentivizedReview",
                      "StaffContext",
                      "skinTone",
                      "skinType",
                      "eyeColor",
                      "hairColor"
                    ],
                    "AuthorId": "6855821414",
                    "ContentLocale": "en_US",
                    "IsFeatured": false,
                    "TotalInappropriateFeedbackCount": 0,
                    "TotalClientResponseCount": 0,
                    "TotalCommentCount": 0,
                    "Photos": [
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/e27d9b7a-b872-5992-9a36-4fe452eef628"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/ff54042f-9bff-5fa4-9fa0-54ceefed1d2a"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/93af5992-d990-5d08-880b-3f56090cabd8"
                          }
                        },
                        "Id": "29540479",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": null
                      }
                    ],
                    "Rating": 5,
                    "IsRatingsOnly": false,
                    "IsRecommended": true,
                    "Helpfulness": 0.996689021587372,
                    "TotalFeedbackCount": 302,
                    "TotalNegativeFeedbackCount": 1,
                    "TotalPositiveFeedbackCount": 301,
                    "ModerationStatus": "APPROVED",
                    "SubmissionId": "r18723-en__170949724EeK3iK8tm",
                    "SubmissionTime": "2024-03-03T20:21:36.000+00:00",
                    "ReviewText": "Hope this helps if you were deciding between colors. Couldn't add more labels but the top is holiday '23 - Need Her, Main Character. All of these show up (slightly) different on medium-tan skin. These colors are pretty unique IMO.",
                    "Title": "Hope this is helpful",
                    "UserNickname": "maha89",
                    "AdditionalFields": {
                      "sociallockup": {
                        "Value": "avatar = https://community.sephora.com/t5/image/serverpage/avatar-name/default-avatar/avatar-theme/sephora/avatar-collection/sephora/avatar-display-size/profile/version/2?xdesc=1.0|biBadgeUrl = /html/rank_icons/birole_rouge.png|engagementBadgeUrl = /html/rank_icons/newcomer_1.png|biTier = rouge",
                        "Id": "sociallockup",
                        "Label": "sociallockup"
                      }
                    },
                    "AdditionalFieldsOrder": ["sociallockup"],
                    "ContextDataValues": {
                      "skinTone": {
                        "Value": "tan",
                        "Id": "skinTone",
                        "ValueLabel": "Tan",
                        "DimensionLabel": "Skin Tone"
                      },
                      "eyeColor": {
                        "Value": "brown",
                        "Id": "eyeColor",
                        "ValueLabel": "Brown",
                        "DimensionLabel": "Eye Color"
                      },
                      "age": {
                        "Value": "over54",
                        "Id": "age",
                        "ValueLabel": "over 54",
                        "DimensionLabel": "Age"
                      },
                      "StaffContext": {
                        "Value": "false",
                        "Id": "StaffContext",
                        "ValueLabel": "No",
                        "DimensionLabel": "I am a Sephora employee"
                      },
                      "skinType": {
                        "Value": "dry",
                        "Id": "skinType",
                        "ValueLabel": "Dry",
                        "DimensionLabel": "Skin Type"
                      },
                      "IncentivizedReview": {
                        "Value": "False",
                        "Id": "IncentivizedReview",
                        "ValueLabel": "No",
                        "DimensionLabel": "I received this product as a free sample"
                      },
                      "hairColor": {
                        "Value": "black",
                        "Id": "hairColor",
                        "ValueLabel": "black",
                        "DimensionLabel": "Hair Color"
                      }
                    },
                    "ProductRecommendationIds": [],
                    "CampaignId": null,
                    "UserLocation": null,
                    "Pros": null,
                    "IsSyndicated": false,
                    "CommentIds": [],
                    "TagDimensionsOrder": [],
                    "Videos": [],
                    "TagDimensions": {},
                    "SecondaryRatings": {},
                    "Cons": null,
                    "ClientResponses": [],
                    "SecondaryRatingsOrder": [],
                    "InappropriateFeedbackList": [],
                    "RatingRange": 5
                  },
                  {
                    "Id": "208790685",
                    "CID": "ae8f15fb-ecaa-570e-b491-4b9ab94887ac",
                    "SourceClient": "sephora",
                    "Badges": {
                      "verifiedPurchaser": {
                        "ContentType": "REVIEW",
                        "Id": "verifiedPurchaser",
                        "BadgeType": "Custom"
                      }
                    },
                    "BadgesOrder": ["verifiedPurchaser"],
                    "LastModeratedTime": "2022-05-12T21:45:36.000+00:00",
                    "LastModificationTime": "2025-01-14T01:23:20.000+00:00",
                    "ProductId": "2555894",
                    "OriginalProductName": "Major Headlines Double-Take Crème & Powder Blush Duo She's Vibrant",
                    "ContextDataValuesOrder": [
                      "eyeColor",
                      "hairColor",
                      "skinTone",
                      "skinType",
                      "StaffContext"
                    ],
                    "AuthorId": "6710214698",
                    "ContentLocale": "en_US",
                    "IsFeatured": false,
                    "TotalInappropriateFeedbackCount": 0,
                    "TotalClientResponseCount": 0,
                    "TotalCommentCount": 0,
                    "Photos": [
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/14af0150-ddb4-5a8e-b43a-9ff9b27c9d99"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/571d8093-491f-51a3-8e45-a2df0feae22b"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/417cec38-b6e0-56d7-a772-10f0b3f853e2"
                          }
                        },
                        "Id": "17030536",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": "DummyPhotoCaption"
                      },
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/e0ae221f-10b6-5de9-8450-6441d42cd876"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/d4558d6e-fd81-5a7e-9d25-310d0f70e853"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/b8d27a79-3785-5a39-a958-5e571eb1df72"
                          }
                        },
                        "Id": "17030537",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": "DummyPhotoCaption"
                      }
                    ],
                    "Rating": 5,
                    "IsRatingsOnly": false,
                    "IsRecommended": true,
                    "Helpfulness": 0.94904500246048,
                    "TotalFeedbackCount": 157,
                    "TotalNegativeFeedbackCount": 8,
                    "TotalPositiveFeedbackCount": 149,
                    "ModerationStatus": "APPROVED",
                    "SubmissionId": "r18723api-_165238654WDoYHZIkq",
                    "SubmissionTime": "2022-05-12T20:16:04.000+00:00",
                    "ReviewText": "Highly recommend if you’re medium dark-deep dark skin tone! This blush is very vibrant, almost neon pink in the pan but just like orange blush, gives your the most flattering, feminine, flirty wash of pink! Definitely a must have for the summer! If you’re new to blush, I recommend just using the powder until your comfortable. If you’re blush obsessed like me, you’ll def enjoy the look of layering the cream underneath the powder! The wear time for this product is great weather you did one, the other, or layered both! This is my second blush duo I’ve purchased from Patrick Ta and this formula is GREAT!",
                    "Title": "BROWN GIRL FRIENDLY!",
                    "UserNickname": "gdurant96",
                    "AdditionalFields": {
                      "sociallockup": {
                        "Value": "avatar=https://community.sephora.com/t5/image/serverpage/image-id/1765512iBD22A432457E3AF9/image-dimensions/172x172?v=v2|biBadgeUrl=/html/rank_icons/birole_rouge.png|engagementBadgeUrl=/html/rank_icons/rank_rookie-01.png|biTier=vib",
                        "Id": "sociallockup",
                        "Label": "sociallockup"
                      }
                    },
                    "AdditionalFieldsOrder": ["sociallockup"],
                    "ContextDataValues": {
                      "skinTone": {
                        "Value": "tan",
                        "Id": "skinTone",
                        "ValueLabel": "Tan",
                        "DimensionLabel": "Skin Tone"
                      },
                      "eyeColor": {
                        "Value": "brown",
                        "Id": "eyeColor",
                        "ValueLabel": "Brown",
                        "DimensionLabel": "Eye Color"
                      },
                      "StaffContext": {
                        "Value": "false",
                        "Id": "StaffContext",
                        "ValueLabel": "No",
                        "DimensionLabel": "I am a Sephora employee"
                      },
                      "skinType": {
                        "Value": "oily",
                        "Id": "skinType",
                        "ValueLabel": "Oily",
                        "DimensionLabel": "Skin Type"
                      },
                      "hairColor": {
                        "Value": "black",
                        "Id": "hairColor",
                        "ValueLabel": "black",
                        "DimensionLabel": "Hair Color"
                      }
                    },
                    "ProductRecommendationIds": [],
                    "CampaignId": null,
                    "UserLocation": null,
                    "Pros": null,
                    "IsSyndicated": false,
                    "CommentIds": [],
                    "TagDimensionsOrder": [],
                    "Videos": [],
                    "TagDimensions": {},
                    "SecondaryRatings": {},
                    "Cons": null,
                    "ClientResponses": [],
                    "SecondaryRatingsOrder": [],
                    "InappropriateFeedbackList": [],
                    "RatingRange": 5
                  },
                  {
                    "Id": "161702487",
                    "CID": "2096afc6-d48e-5768-8181-033103e71d15",
                    "SourceClient": "sephora",
                    "LastModeratedTime": "2020-08-23T22:15:09.000+00:00",
                    "LastModificationTime": "2024-10-20T12:19:40.000+00:00",
                    "ProductId": "2363844",
                    "OriginalProductName": "Major Headlines Double-Take Crème & Powder Blush Duo She's That Girl",
                    "ContextDataValuesOrder": [
                      "eyeColor",
                      "hairColor",
                      "skinTone",
                      "skinType",
                      "StaffContext"
                    ],
                    "AuthorId": "5133002096",
                    "ContentLocale": "en_US",
                    "IsFeatured": false,
                    "TotalInappropriateFeedbackCount": 0,
                    "TotalClientResponseCount": 0,
                    "TotalCommentCount": 0,
                    "Photos": [
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/949d78a0-e125-56e2-acea-baf6686ed77d"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/6c3f60cd-68e6-5adc-8c81-02f0e7e4671a"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/9f073f20-5345-554c-81a2-f4f720306c68"
                          }
                        },
                        "Id": "7887935",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": "DummyPhotoCaption"
                      }
                    ],
                    "Rating": 5,
                    "IsRatingsOnly": false,
                    "IsRecommended": true,
                    "Helpfulness": 0.935483992099762,
                    "TotalFeedbackCount": 155,
                    "TotalNegativeFeedbackCount": 10,
                    "TotalPositiveFeedbackCount": 145,
                    "ModerationStatus": "APPROVED",
                    "SubmissionId": "r18723api-_15981829Bc3jGSZVbW",
                    "SubmissionTime": "2020-08-23T11:42:28.000+00:00",
                    "ReviewText": "This review is for people as dumb as me, it opens this way",
                    "UserNickname": "nrtindle",
                    "ContextDataValues": {
                      "skinType": {
                        "Value": "oily",
                        "Id": "skinType",
                        "ValueLabel": "Oily",
                        "DimensionLabel": "Skin Type"
                      },
                      "skinTone": {
                        "Value": "fairLight",
                        "Id": "skinTone",
                        "ValueLabel": "fairLight",
                        "DimensionLabel": "Skin Tone"
                      },
                      "hairColor": {
                        "Value": "auburn",
                        "Id": "hairColor",
                        "ValueLabel": "auburn",
                        "DimensionLabel": "Hair Color"
                      },
                      "eyeColor": {
                        "Value": "hazel",
                        "Id": "eyeColor",
                        "ValueLabel": "Hazel",
                        "DimensionLabel": "Eye Color"
                      },
                      "StaffContext": {
                        "Value": "false",
                        "Id": "StaffContext",
                        "ValueLabel": "No",
                        "DimensionLabel": "I am a Sephora employee"
                      }
                    },
                    "AdditionalFields": {
                      "sociallockup": {
                        "Value": "avatar=https://community.sephora.com/t5/image/serverpage/image-id/1488779i45F0203E00283258/image-dimensions/172x172?v=1.0|biBadgeUrl=/html/rank_icons/birole_rouge.png|engagementBadgeUrl=/html/rank_icons/rank_rookie-01.png|biTier=rouge",
                        "Id": "sociallockup",
                        "Label": "sociallockup"
                      }
                    },
                    "AdditionalFieldsOrder": ["sociallockup"],
                    "ProductRecommendationIds": [],
                    "CampaignId": null,
                    "UserLocation": null,
                    "Pros": null,
                    "IsSyndicated": false,
                    "BadgesOrder": [],
                    "CommentIds": [],
                    "TagDimensionsOrder": [],
                    "Videos": [],
                    "Title": null,
                    "TagDimensions": {},
                    "SecondaryRatings": {},
                    "Cons": null,
                    "ClientResponses": [],
                    "SecondaryRatingsOrder": [],
                    "InappropriateFeedbackList": [],
                    "Badges": {},
                    "RatingRange": 5
                  },
                  {
                    "Id": "275136431",
                    "CID": "af72ec1f-36ec-5623-a3d2-fcf45551052f",
                    "SourceClient": "sephora",
                    "LastModeratedTime": "2024-03-27T11:30:20.000+00:00",
                    "LastModificationTime": "2024-08-15T14:24:54.000+00:00",
                    "ProductId": "P458747",
                    "OriginalProductName": "Major Headlines Double-Take Crème & Powder Blush Duo",
                    "ContextDataValuesOrder": [
                      "IncentivizedReview",
                      "StaffContext",
                      "skinTone",
                      "skinType",
                      "eyeColor",
                      "hairColor"
                    ],
                    "AuthorId": "2211170614",
                    "ContentLocale": "en_US",
                    "IsFeatured": false,
                    "TotalInappropriateFeedbackCount": 0,
                    "TotalClientResponseCount": 0,
                    "TotalCommentCount": 0,
                    "Photos": [
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/0f24c153-ee4d-5775-b4b8-4daf024850ff"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/c64f9f31-2705-52c1-b2f5-147344dc4970"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/90065cf2-4c39-56cb-afa9-a8d51622696f"
                          }
                        },
                        "Id": "30335606",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": "DummyPhotoCaption"
                      }
                    ],
                    "Rating": 5,
                    "IsRatingsOnly": false,
                    "IsRecommended": true,
                    "Helpfulness": 0.574257016181946,
                    "TotalFeedbackCount": 202,
                    "TotalNegativeFeedbackCount": 86,
                    "TotalPositiveFeedbackCount": 116,
                    "ModerationStatus": "APPROVED",
                    "SubmissionId": "r18723-en__17113855rWBlXelS60",
                    "SubmissionTime": "2024-03-25T16:52:36.000+00:00",
                    "ReviewText": "I love this color!! I am usually a bright pink blush girl but this is a bit of a deeper pink and I absolutely love it. If you’re looking for a deeper blush but still pink this is a good choice!",
                    "Title": "Love it!",
                    "UserNickname": "lilyb10",
                    "AdditionalFields": {
                      "sociallockup": {
                        "Value": "avatar=https://community.sephora.com/t5/image/serverpage/avatar-name/default-avatar/avatar-theme/sephora/avatar-collection/sephora/avatar-display-size/profile/version/2?xdesc=1.0|biBadgeUrl=/html/rank_icons/birole_rouge.png|engagementBadgeUrl=/html/rank_icons/window_shopper_1.png|biTier=rouge",
                        "Id": "sociallockup",
                        "Label": "sociallockup"
                      }
                    },
                    "AdditionalFieldsOrder": ["sociallockup"],
                    "ContextDataValues": {
                      "skinTone": {
                        "Value": "medium",
                        "Id": "skinTone",
                        "ValueLabel": "Medium",
                        "DimensionLabel": "Skin Tone"
                      },
                      "eyeColor": {
                        "Value": "hazel",
                        "Id": "eyeColor",
                        "ValueLabel": "Hazel",
                        "DimensionLabel": "Eye Color"
                      },
                      "StaffContext": {
                        "Value": "false",
                        "Id": "StaffContext",
                        "ValueLabel": "No",
                        "DimensionLabel": "I am a Sephora employee"
                      },
                      "skinType": {
                        "Value": "combination",
                        "Id": "skinType",
                        "ValueLabel": "Combination",
                        "DimensionLabel": "Skin Type"
                      },
                      "IncentivizedReview": {
                        "Value": "False",
                        "Id": "IncentivizedReview",
                        "ValueLabel": "No",
                        "DimensionLabel": "I received this product as a free sample"
                      },
                      "hairColor": {
                        "Value": "brown",
                        "Id": "hairColor",
                        "ValueLabel": "brown",
                        "DimensionLabel": "Hair Color"
                      }
                    },
                    "ProductRecommendationIds": [],
                    "CampaignId": null,
                    "UserLocation": null,
                    "Pros": null,
                    "IsSyndicated": false,
                    "BadgesOrder": [],
                    "CommentIds": [],
                    "TagDimensionsOrder": [],
                    "Videos": [],
                    "TagDimensions": {},
                    "SecondaryRatings": {},
                    "Cons": null,
                    "ClientResponses": [],
                    "SecondaryRatingsOrder": [],
                    "InappropriateFeedbackList": [],
                    "Badges": {},
                    "RatingRange": 5
                  },
                  {
                    "Id": "275062100",
                    "CID": "6450f721-7ea0-5797-80ef-5eab76e01c18",
                    "SourceClient": "sephora",
                    "Badges": {
                      "verifiedPurchaser": {
                        "ContentType": "REVIEW",
                        "Id": "verifiedPurchaser",
                        "BadgeType": "Custom"
                      }
                    },
                    "BadgesOrder": ["verifiedPurchaser"],
                    "LastModeratedTime": "2024-03-24T14:16:45.000+00:00",
                    "LastModificationTime": "2025-01-14T01:23:25.000+00:00",
                    "ProductId": "2699353",
                    "OriginalProductName": "Major Headlines Double-Take Crème & Powder Blush Duo She's Giving",
                    "ContextDataValuesOrder": [
                      "IncentivizedReview",
                      "StaffContext",
                      "skinTone",
                      "skinType",
                      "eyeColor",
                      "hairColor"
                    ],
                    "AuthorId": "11085174410",
                    "ContentLocale": "en_US",
                    "IsFeatured": false,
                    "TotalInappropriateFeedbackCount": 0,
                    "TotalClientResponseCount": 0,
                    "TotalCommentCount": 0,
                    "Photos": [
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/a0d15f2a-5eb0-5d9d-93b1-00132311c4b1"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/6bd21f03-9fb9-5ff1-a648-58832f8ac2d4"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/a627e185-7a97-5eb7-b195-9515a6ed016d"
                          }
                        },
                        "Id": "30307773",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": "DummyPhotoCaption"
                      },
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/b6d79ac6-2905-58fc-9c94-fdb86733f70f"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/f50585c9-8445-5326-b193-28c6d3c5525a"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/370f2da5-2197-500e-9cb8-b94c59834699"
                          }
                        },
                        "Id": "30307774",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": "DummyPhotoCaption"
                      }
                    ],
                    "Rating": 5,
                    "IsRatingsOnly": false,
                    "IsRecommended": true,
                    "Helpfulness": 0.966666996479034,
                    "TotalFeedbackCount": 120,
                    "TotalNegativeFeedbackCount": 4,
                    "TotalPositiveFeedbackCount": 116,
                    "ModerationStatus": "APPROVED",
                    "SubmissionId": "r18723-en__17112825x4RJX0jP0m",
                    "SubmissionTime": "2024-03-24T12:16:08.000+00:00",
                    "ReviewText": "This shade is so pretty and pigmented!!! Last alll day !!! I want to get more shades I’m in love 🥰🥰🥰",
                    "Title": "JUST BUY!!!",
                    "UserNickname": "takireaa",
                    "AdditionalFields": {
                      "sociallockup": {
                        "Value": "avatar=https://community.sephora.com/t5/image/serverpage/avatar-name/default-avatar/avatar-theme/sephora/avatar-collection/sephora/avatar-display-size/profile/version/2?xdesc=1.0|biBadgeUrl=/html/rank_icons/birole_vib.png|engagementBadgeUrl=/html/rank_icons/newcomer_3.png|biTier=vib",
                        "Id": "sociallockup",
                        "Label": "sociallockup"
                      }
                    },
                    "AdditionalFieldsOrder": ["sociallockup"],
                    "ContextDataValues": {
                      "skinTone": {
                        "Value": "mediumTan",
                        "Id": "skinTone",
                        "ValueLabel": "mediumTan",
                        "DimensionLabel": "Skin Tone"
                      },
                      "eyeColor": {
                        "Value": "brown",
                        "Id": "eyeColor",
                        "ValueLabel": "Brown",
                        "DimensionLabel": "Eye Color"
                      },
                      "StaffContext": {
                        "Value": "false",
                        "Id": "StaffContext",
                        "ValueLabel": "No",
                        "DimensionLabel": "I am a Sephora employee"
                      },
                      "skinType": {
                        "Value": "combination",
                        "Id": "skinType",
                        "ValueLabel": "Combination",
                        "DimensionLabel": "Skin Type"
                      },
                      "IncentivizedReview": {
                        "Value": "False",
                        "Id": "IncentivizedReview",
                        "ValueLabel": "No",
                        "DimensionLabel": "I received this product as a free sample"
                      },
                      "hairColor": {
                        "Value": "black",
                        "Id": "hairColor",
                        "ValueLabel": "black",
                        "DimensionLabel": "Hair Color"
                      }
                    },
                    "ProductRecommendationIds": [],
                    "CampaignId": null,
                    "UserLocation": null,
                    "Pros": null,
                    "IsSyndicated": false,
                    "CommentIds": [],
                    "TagDimensionsOrder": [],
                    "Videos": [],
                    "TagDimensions": {},
                    "SecondaryRatings": {},
                    "Cons": null,
                    "ClientResponses": [],
                    "SecondaryRatingsOrder": [],
                    "InappropriateFeedbackList": [],
                    "RatingRange": 5
                  },
                  {
                    "Id": "208791052",
                    "CID": "11274cc3-a209-5ad2-a396-e5f916772c81",
                    "SourceClient": "sephora",
                    "LastModeratedTime": "2022-05-12T21:45:36.000+00:00",
                    "LastModificationTime": "2024-04-26T16:31:09.000+00:00",
                    "ProductId": "P458747",
                    "OriginalProductName": "Major Headlines Double-Take Crème & Powder Blush Duo",
                    "ContextDataValuesOrder": [
                      "eyeColor",
                      "hairColor",
                      "skinTone",
                      "skinType",
                      "StaffContext"
                    ],
                    "AuthorId": "6710214698",
                    "ContentLocale": "en_US",
                    "IsFeatured": false,
                    "TotalInappropriateFeedbackCount": 0,
                    "TotalClientResponseCount": 0,
                    "TotalCommentCount": 0,
                    "Photos": [
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/195a929d-c546-5ace-9f31-daaa1ebd74f2"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/6c0b3416-f7bf-5714-80e1-bd8c4257fb5a"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/4d2f5269-30cc-5dc5-b187-4e667df9fdae"
                          }
                        },
                        "Id": "17030553",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": "DummyPhotoCaption"
                      },
                      {
                        "Sizes": {
                          "normal": {
                            "Id": "normal",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/17eac5a5-c6c3-5d4a-baa0-58a9ff229c4a"
                          },
                          "thumbnail": {
                            "Id": "thumbnail",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/007f5e64-aa80-5b42-b97a-e8a2c458f889"
                          },
                          "large": {
                            "Id": "large",
                            "Url": "https://photos-us.bazaarvoice.com/photo/2/cGhvdG86c2VwaG9yYQ/c6feb691-d702-593a-a954-e535c6fdb01f"
                          }
                        },
                        "Id": "17030554",
                        "SizesOrder": ["normal", "thumbnail", "large"],
                        "Caption": "DummyPhotoCaption"
                      }
                    ],
                    "Rating": 5,
                    "IsRatingsOnly": false,
                    "IsRecommended": true,
                    "Helpfulness": 0.798610985279083,
                    "TotalFeedbackCount": 144,
                    "TotalNegativeFeedbackCount": 29,
                    "TotalPositiveFeedbackCount": 115,
                    "ModerationStatus": "APPROVED",
                    "SubmissionId": "r18723api-_16523869goFlWaIdTj",
                    "SubmissionTime": "2022-05-12T20:22:09.000+00:00",
                    "ReviewText": "Great natural looking blush for brown girls! Im 390 in fenty and when I want to overblush, I use both the cream and powder but for a quick beat, the powder side shows up nicely! I really enjoy this product and honestly I don’t have anything in my collection that is this shade and shows up! Perfect for every day!",
                    "Title": "Brown Girl Friendly!",
                    "UserNickname": "gdurant96",
                    "AdditionalFields": {
                      "sociallockup": {
                        "Value": "avatar=https://community.sephora.com/t5/image/serverpage/image-id/1765512iBD22A432457E3AF9/image-dimensions/172x172?v=v2|biBadgeUrl=/html/rank_icons/birole_rouge.png|engagementBadgeUrl=/html/rank_icons/rank_rookie-01.png|biTier=vib",
                        "Id": "sociallockup",
                        "Label": "sociallockup"
                      }
                    },
                    "AdditionalFieldsOrder": ["sociallockup"],
                    "ContextDataValues": {
                      "skinTone": {
                        "Value": "tan",
                        "Id": "skinTone",
                        "ValueLabel": "Tan",
                        "DimensionLabel": "Skin Tone"
                      },
                      "eyeColor": {
                        "Value": "brown",
                        "Id": "eyeColor",
                        "ValueLabel": "Brown",
                        "DimensionLabel": "Eye Color"
                      },
                      "StaffContext": {
                        "Value": "false",
                        "Id": "StaffContext",
                        "ValueLabel": "No",
                        "DimensionLabel": "I am a Sephora employee"
                      },
                      "skinType": {
                        "Value": "oily",
                        "Id": "skinType",
                        "ValueLabel": "Oily",
                        "DimensionLabel": "Skin Type"
                      },
                      "hairColor": {
                        "Value": "black",
                        "Id": "hairColor",
                        "ValueLabel": "black",
                        "DimensionLabel": "Hair Color"
                      }
                    },
                    "ProductRecommendationIds": [],
                    "CampaignId": null,
                    "UserLocation": null,
                    "Pros": null,
                    "IsSyndicated": false,
                    "BadgesOrder": [],
                    "CommentIds": [],
                    "TagDimensionsOrder": [],
                    "Videos": [],
                    "TagDimensions": {},
                    "SecondaryRatings": {},
                    "Cons": null,
                    "ClientResponses": [],
                    "SecondaryRatingsOrder": [],
                    "InappropriateFeedbackList": [],
                    "Badges": {},
                    "RatingRange": 5
                  }
                ],
                "Includes": {
                  "Products": {
                    "2363844": {
                      "FamilyIds": ["P458747"],
                      "Description": "What it is: A viral duo compact of powder and cream blush formulas to achieve long-wearing bold color that melts into skin for a beautiful, radiant glow.   Finish: Radiant Formulation: Cream, Pressed PowderHighlighted Ingredients: - Patented Biomimetic Pigments: Mirror the skin's ceramide structure, ensuring adhesion, true color, and the most natural finish.- Micronized Pigments: Provide even, flawless payoff, a luminous finish, and extended wear.- Creamy Emollient Base: Flawlessly blends into skin, provides a dewy finish, and locks in color for extended wear.Ingredient Callouts: Free of sulfates SLS and SLES, parabens, formaldehydes, formaldehyde-releasing agents, phthalates, mineral oil, retinyl palmitate, oxybenzone, coal tar, hydroquinone, triclosan, and triclocarban, and contains less than one percent of synthetic fragrances. This product is cruelty-free and gluten-free.What Else You Need to Know: This bestselling blush duo is inspired by Patrick’s viral cream-over-powder blush technique. The rich pigments blend together for a long-wearing skin-like finish to create a lit-from-within glow.",
                      "AttributesOrder": [
                        "AVAILABILITY",
                        "BV_FE_EXPAND",
                        "BV_FE_FAMILY"
                      ],
                      "Attributes": {
[...]
